<!DOCTYPE html>
<html lang="en">
<head>
  <title>Recipes</title>
</head>


<body>
    {% for item in recipes %}
    <h1>{{item.title}}</h1>
    <p><b>Description:</b> {{ item.description }}</p>
    <p><b>Time Required:</b> {{ item.time_required }}</p>
    <p><b>Instructions:</b> {{ item.instructions}}</p>


    <p><b>Author:</b> <a href="/author/{{ item.author_id }}">"{{ item.author}}"</a></p>
    

    
    
    {% if user.is_authenticated %}
    <a href="/favoritestat/{{ item.recipe_id }}" role="button">{{ fav_button }}</a>
    {% endif %}

    {% if show_edit_button %}
    <a href="/recipeedit/{{ item.recipe_id }}" role="button">Update</a>
    {% endif %}
    {% endfor %}

</body>

</html>
